.SearchResult {
  padding: 20px;
  right: 0;
  z-index: 100;
  background: white;
  border-radius: 10px;
  box-shadow: 1px 1px 8px;
  max-height: 600px;
  overflow-y: auto;

  em {
    color: #ce8460;
    font-style: normal;
    font-weight: bold;
  }

  &__meta {
    margin-right: 8px;
  }

  &__metaLink {
    margin-left: 8px;
  }

  &__item:nth-child(n + 2) {
    margin-top: 1rem;
  }
}

.SearchResult--layout {
  position: absolute;
  z-index: 100;
  right: 0;
}
