.Widget {
  background: #fff;
  margin-bottom: 40px;

  &__title {
    position: relative;
    margin-bottom: 15px;

    span {
      background: #fff;
      position: relative;
      padding-right: 5px;
      z-index: 1;
    }

    &::before {
      position: absolute;
      content: '';
      right: 0;
      height: 1px;
      width: 100%;
      background: #ddd;
      top: 50%;
    }
  }

  &__search {
    border-bottom: 1px dotted #ddd;
    width: 100%;
    height: 40px;
  }

  &__tag {
    margin-bottom: 10px;
    cursor: pointer;
    padding: 2px 10px;
    border: 1px solid #ddd;
    border-radius: 40px;
    display: inline-block;
    color: #696c6d;
    margin-right: 0.5rem;
    transition: 0.2s ease;

    &:hover,
    &--active {
      border-color: #ce8460;
      background: #ce8460;
      color: #fff;
    }

    &--active {
      font-weight: bold;
    }
  }

  &__tagBox {
    display: flex;
    flex-wrap: wrap;
  }

  &__goSearch {
    height: 30px;
    width: 30px;
    line-height: 30px;
    display: inline-block;
    padding: 0;
    background: #f0f0f0;
    color: #1c1d1f;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: 5px;
    font-size: 12px;
  }
}

.Categories {
  list-style: none;
  margin-left: 0;

  &__item {
    border-bottom: 1px dotted #ddd;
  }

  &__link {
    color: #1c1d1f;
    display: flex;

    &:hover {
      color: #ce8460;
    }

    &--active {
      color: #ce8460;
      font-weight: bold;
    }
  }

  &__len {
    /* - */
    margin-left: auto;
  }
}

.LastUpdate {
  list-style: none;
  margin-left: 0;

  &__banner {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    object-fit: cover;
  }

  &__item {
    padding: 15px 0;
  }

  &__link {
    color: #1c1d1f;

    &:hover {
      color: #ce8460;
    }
  }
}
