.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}
.hide {
    display: none;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 720px
    }
}
@media (min-width: 992px) {
    .container {
        max-width: 960px
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1140px
    }
}

.container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

@media (min-width: 576px) {
    .container, .container-sm {
        max-width: 540px
    }
}
@media (min-width: 768px) {
    .container, .container-md, .container-sm {
        max-width: 720px
    }
}
@media (min-width: 992px) {
    .container, .container-lg, .container-md, .container-sm {
        max-width: 960px
    }
}
@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1140px
    }
}

//-------------

@media (min-width: 576px) {
    .min-sm-show {
        display: block;
    }
    .min-sm-hide {
        display: none;
    }
}
@media (min-width: 768px) {
    .min-xs-show {
        display: block;
    }
    .min-xs-hide {
        display: none;
    }
}
@media (min-width: 992px) {
    .min-md-show {
        display: block;
    }
    .min-md-hide {
        display: none;
    }
}
@media (min-width: 1200px) {
    .min-lg-show {
        display: block;
    }
    .min-lg-hide {
        display: none;
    }
}
@media (max-width: 576px) {
    .max-sm-show {
        display: block;
    }
    .max-sm-hide {
        display: none;
    }
}
@media (max-width: 768px) {
    .max-xs-show {
        display: block;
    }
    .max-xs-hide {
        display: none;
    }
}
@media (max-width: 992px) {
    .max-md-show {
        display: block;
    }
    .max-md-hide {
        display: none;
    }
}
@media (max-width: 1200px) {
    .max-lg-show {
        display: block;
    }
    .max-lg-hide {
        display: none;
    }
}

body {
    background: #81e8cd;
}
