.navPost {
  font-size: 16px;

  &__label {
    white-space: nowrap;
  }

  &__link {
    color: #696c6d;
    border-bottom: 1px dotted #ddd;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:hover {
      color: #ce8460;
    }
  }

  &__item {
    display: flex;

    &--next {
      justify-content: flex-end;
    }
  }
}
